@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --theme-yellow: 61 98% 50%;
        --theme-purple: 269 100% 50%;
        --theme-green: 105 73% 35%;
        --theme-red: 0 100% 51%;

        --backdrop: 30 32 30 0.5;

        --theme-bg: 36 46% 86%;
        --theme-fg: 120 3% 12%;

        --theme-primary: 70 5% 23%;
        --theme-secondary: 105 7% 43%;
    }
    .dark {
        --theme-yellow: 61 98% 50%;
        --theme-purple: 269 100% 50%;
        --theme-green: 105 73% 35%;
        --theme-red: 0 100% 51%;

        --backdrop: 30 32 30 0.5;

        --theme-bg: 120 3% 12%;
        --theme-fg: 36 46% 86%;

        --theme-primary: 70 5% 23%;
        --theme-secondary: 105 7% 43%;
    }
}

body {
    color: white;
    background: hsl(var(--theme-fg));
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(var(--theme-fg));
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--theme-fg));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}
